<html>
<head>
    <title>
        Vue Test
    </title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div id="app">
        <!-- Hover Title -->
        <section>
            <p :title="hoverTitle">
                Hover your mouse over me for a few seconds to see my dynamically bound title!
            </p>
        </section>

        <!-- v-if and v-bind:class example -->
        <section>
            <p
                :class="classObject"
                :style="styleObject">
                Active
            </p>
            <p v-if="hasError">there was an error</p>
        </section>

        <!-- v-for example -->
        <section>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </section>

        <!-- v-model and v-on example -->
        <section>
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
            <input v-model="message">
            <button
                @click=""
                :disabled="isButtonDisabled">
                Reverse Message
            </button>
            <p>run "app.isButtonDisabled = true" in the console to disable button.</p>
        </section>

        <!-- todo-item component example -->
        <section>
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    :todo="item"
                    :key="item.id">
                </todo-item>
            </ol>
        </section>

        <!-- raw HTML -->
        <section>
            <p>Using mustaches: {{ rawHtml }}</p>
            <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        </section>

        <!-- computed full Name -->
        <section>
            <span>{{ fullName }}</span>
        </section>

        <!-- Lifecycle Diagram -->
        <section>
            <h1>Lifecycle Diagram</h1>
            <img style="width: 100%;" src="img/lifecycle.png" />
        </section>
    </div>

    <!-- Questions app -->
    <section>
        <div id="watch-example">
            <p>
                Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>
    </section>

    <script type="text/javascript">
        var app = new Vue({
                el: '#app',
                data: {
                    firstName: 'Foo',
                    lastName: 'Bar',
                    newTodoText: '',
                    visitCount: 0,
                    hideCompletedTodos: false,
                    todos: [],
                    error: null,
                    message: 'Hello Vue!',
                    hoverTitle: 'This is the hover title!',
                    seen: true,
                    isActive: true,
                    hasError: false,
                    isButtonDisabled: false,
                    rawHtml: '<span style="color: red;">This should be red.</span>',
                    todos: [
                        { text: 'Learn JavaScript' },
                        { text: 'Learn Vue' },
                        { text: 'Build something awesome' }
                    ],
                    groceryList: [
                        { id: 0, text: 'Vegetables' },
                        { id: 1, text: 'Cheese' },
                        { id: 2, text: 'Whatever else humans are supposed to eat' }
                    ]
                },
                // computed properties use caching
                computed: {
                    reversedMessage: function () {
                        return this.message.split('').reverse().join('')
                    },
                    fullName: {
                        // getter
                        get: function () {
                            return this.firstName + ' ' + this.lastName
                        },
                        // setter
                        set: function (newValue) {
                            var names = newValue.split(' ')
                            this.firstName = names[0]
                            this.lastName = names[names.length - 1]
                        }
                    },
                    classObject: function () {
                        return {
                            active: this.isActive && !this.error,
                            'text-danger': this.error && this.error.type === 'fatal'
                        }
                    },
                    styleObject: function () {
                        return {
                            color: 'red',
                            fontSize: '13px'
                        }
                    }
                },
                methods: {},
                // lifecycle hook for when app is created
                created: function () {
                    console.log('App created - Message is: ' + this.message)
                },
                // lifecycle hook for when app is mounted
                mounted: function () {
                    console.log('App mounted - Message is: ' + this.message)
                },
                // lifecycle hook for when app is updated
                updated: function () {
                    console.log('App updated - Message is: ' + this.message)
                },
                // lifecycle hook for when app is destroyed
                destroyed: function () {
                    console.log('App destroyed - Message is: ' + this.message)
                }
            })

        // it will show the element associated to the app
        console.log(app.$el)

        // $watch is an instance method
        app.$watch('message', function (newValue, oldValue) {
            // This callback will be called when `app.message` changes
            console.log("Message changed from '" + oldValue + "' to '" + newValue)
        })

        // Define a new component called todo-item
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
        var watchExampleVM = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                answer: 'I cannot give you an answer until you ask a question!'
            },
            watch: {
                // whenever question changes, this function will run
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'Waiting for you to stop typing...'
                    this.getAnswer()
                }
            },
            methods: {
                // _.debounce is a function provided by lodash to limit how
                // often a particularly expensive operation can be run.
                // In this case, we want to limit how often we access
                // yesno.wtf/api, waiting until the user has completely
                // finished typing before making the ajax request. To learn
                // more about the _.debounce function (and its cousin
                // _.throttle), visit: https://lodash.com/docs#debounce
                getAnswer: _.debounce(
                    function () {
                        if (this.question.indexOf('?') === -1) {
                            this.answer = 'Questions usually contain a question mark. ;-)'
                            return
                        }
                        this.answer = 'Thinking...'
                        var vm = this
                        axios.get('https://yesno.wtf/api')
                            .then(function (response) {
                                vm.answer = _.capitalize(response.data.answer)
                            })
                            .catch(function (error) {
                                vm.answer = 'Error! Could not reach the API. ' + error
                            })
                    }, 500 )
            }
        })
    </script>
</body>
</html>
