<html>
<head>
    <title>
        Vue Test
    </title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div id="app">
        <!-- v-if / v-else-if / v-else, :class, :style, v-show and template example -->
        <section>
            <h1 v-show="loginType">Login</h1>
            <template v-if="loginType === 'username'">
                <label
                    :class="classObject"
                    :style="styleObject">
                    Username
                </label>
                <input
                    placeholder="Enter your username"
                    key="username-input">
            </template>
            <template v-else-if="loginType === 'other'">
                <label
                    :class="classObject"
                    :style="styleObject">
                    Other
                </label>
                <input
                    placeholder="Enter other"
                    key="other-input">
            </template>
            <template v-else>
                <label
                    :class="classObject"
                    :style="styleObject">
                    Email
                </label>
                <input
                    placeholder="Enter your email address"
                    key="email-input">
            </template>
            <span>console: app.loginType = 'username', app.loginType = 'email', app.loginType = 'other'  </span>
        </section>

        <!-- v-model and v-on example -->
        <section>
            <p style="white-space: pre-line;">Original message: "{{ message }}"</p>
            <br>
            <p style="white-space: pre-line;">Computed reversed message: "{{ reversedMessage }}"</p>
            <br>
            <!-- Interpolation on textareas (<textarea>{{text}}</textarea>) won't work. Use v-model instead. -->
            <textarea v-model.trim="message" placeholder="add multiple lines"></textarea>
            <button
                @click="greet($event, 'The Reverse button does not work anymore')"
                :disabled="isButtonDisabled">
                Reverse Message
            </button>
            
            <input type="checkbox" id="checkbox" v-model="isButtonDisabled">
            <label for="checkbox">is Button disabled: {{ isButtonDisabled }}</label>
        </section>

        <!-- todo-list example -->
        <section>
            <div id="todo-list-example">
                <input
                    v-model="newTodoText"
                    v-on:keyup.enter="addNewTodo"
                    placeholder="Add a todo" />
                <ul v-if="todos.length">
                    <todo-item
                        v-for="(todo, index) in todos"
                        v-if="!todo.isComplete"
                        :key="todo.id"
                        :title="todo.title"
                        @remove="todos.splice(index, 1)">
                    </todo-item>
                </ul>
                <p v-else>No todos left! <span v-for="n in 10">{{ n }} </span></p>
            </div>
        </section>

        <!-- form example -->
        <section>
            <div>
                <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                <label for="jack">Jack</label>
                <input type="checkbox" id="john" value="John" v-model="checkedNames">
                <label for="john">John</label>
                <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                <label for="mike">Mike</label>
                <br>
                <span>Checked names: {{ checkedNames }}</span>
            </div>
            <div>
                <input type="radio" id="one" value="One" v-model="picked">
                <label for="one">One</label>
                <br>
                <input type="radio" id="two" value="Two" v-model="picked">
                <label for="two">Two</label>
                <br>
                <span>Picked: {{ picked }}</span>
            </div>
            <div>
                <select v-model="selected">
                    <option disabled value="">Please select an option</option>
                    <option v-for="option in options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <span>Selected: {{ selected }}</span>
            </div>
        </section>

        <!-- raw HTML -->
        <section>
            <p>Using mustaches: {{ rawHtml }}</p>
            <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        </section>

        <!-- computed full Name -->
        <section>
            <span>{{ fullName }}</span>
        </section>

        <!-- event handling -->
        <section>
            <!-- the click event's propagation will be stopped -->
            <a @click.stop="greet($event, message)"></a>

            <!-- modifiers can be chained -->
            <a @click.stop.prevent="greet($event, 'default behaviour prevented')">This is a link, click me</a>

            <!-- only call greet when the `keyCode` is 13 -->
            <!-- aliases: enter, tab, delete (captures both “Delete” and “Backspace” keys)
                  esc, space, up, down, left, right -->
            <input @keyup.13="greet($event, 'The enter key was pressed')">
        </section>

        <!-- Lifecycle Diagram -->
        <section>
            <h1>Lifecycle Diagram</h1>
            <img style="width: 100%;" src="img/lifecycle.png" />
        </section>
    </div>

    <!-- Questions app -->
    <section>
        <div id="watch-example">
            <p>
                Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>
    </section>

    <script type="text/javascript">
        var app = new Vue({
                el: '#app',
                data: function () {
                    return {
                        firstName: 'Foo',
                        lastName: 'Bar',
                        checkedNames: [],
                        picked: '',
                        selected: '',
                        options: [
                            { text: 'One', value: 'A' },
                            { text: 'Two', value: 'B' },
                            { text: 'Three', value: 'C' }
                        ],
                        visitCount: 0,
                        hideCompletedTodos: false,
                        error: null,
                        message: 'Hello Vue!',
                        seen: true,
                        loginType: 'username',
                        isButtonDisabled: false,
                        rawHtml: '<span style="color: red;">This should be red.</span>',
                        newTodoText: '',
                        todos: [
                            { id: 1, title: 'Learn JavaScript', isComplete: true },
                            { id: 2, title: 'Learn Vue', isComplete: false },
                            { id: 3, title: 'Build something awesome', isComplete: true }
                        ],
                        nextTodoId: 4
                    }
                },
                // computed properties use caching
                computed: {
                    reversedMessage: function () {
                        return this.message.split('').reverse().join('')
                    },
                    fullName: {
                        // getter
                        get: function () {
                            return this.firstName + ' ' + this.lastName
                        },
                        // setter
                        set: function (newValue) {
                            var names = newValue.split(' ')
                            this.firstName = names[0]
                            this.lastName = names[names.length - 1]
                        }
                    },
                    classObject: function () {
                        return {
                            active: this.isActive && !this.error,
                            'text-danger': this.error && this.error.type === 'fatal'
                        }
                    },
                    styleObject: function () {
                        return {
                            color: 'red',
                            fontSize: '13px'
                        }
                    }
                },
                methods: {
                    addNewTodo: function () {
                        this.todos.push({
                            id: this.nextTodoId++,
                            title: this.newTodoText
                        })
                        this.newTodoText = ''
                    },
                    greet: function (event, message) {
                        alert(message);
                        if (event) {
                            console.log(event.target.tagName)
                        }
                    }
                },
                // lifecycle hook for when app is created
                created: function () {
                    console.log('App created - Message is: ' + this.message)
                },
                // lifecycle hook for when app is mounted
                mounted: function () {
                    console.log('App mounted - Message is: ' + this.message)
                },
                // lifecycle hook for when app is updated
                updated: function () {
                    console.log('App updated - Message is: ' + this.message)
                },
                // lifecycle hook for when app is destroyed
                destroyed: function () {
                    console.log('App destroyed - Message is: ' + this.message)
                }
            })

        // it will show the element associated to the app
        console.log(app.$el)

        // $watch is an instance method
        app.$watch('message', function (newValue, oldValue) {
            // This callback will be called when `app.message` changes
            console.log("Message changed from '" + oldValue + "' to '" + newValue)
        })

        // Define a new component called todo-item
        Vue.component('todo-item', {
            props: ['title'],
            template: '\
                <li>\
                    {{ title }}\
                    <button @click="$emit(\'remove\')">X</button>\
                </li>\
            '
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
        var watchExampleVM = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                answer: 'I cannot give you an answer until you ask a question!'
            },
            watch: {
                // whenever question changes, this function will run
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'Waiting for you to stop typing...'
                    this.getAnswer()
                }
            },
            methods: {
                // _.debounce is a function provided by lodash to limit how
                // often a particularly expensive operation can be run.
                // In this case, we want to limit how often we access
                // yesno.wtf/api, waiting until the user has completely
                // finished typing before making the ajax request. To learn
                // more about the _.debounce function (and its cousin
                // _.throttle), visit: https://lodash.com/docs#debounce
                getAnswer: _.debounce(
                    function () {
                        if (this.question.indexOf('?') === -1) {
                            this.answer = 'Questions usually contain a question mark. ;-)'
                            return
                        }
                        this.answer = 'Thinking...'
                        var vm = this
                        axios.get('https://yesno.wtf/api')
                            .then(function (response) {
                                vm.answer = _.capitalize(response.data.answer)
                            })
                            .catch(function (error) {
                                vm.answer = 'Error! Could not reach the API. ' + error
                            })
                    }, 500 )
            }
        })
    </script>
</body>
</html>
